@import '../../AppStyles.scss';
// ./Form.scss
$form-bg-color: #514a9d;
$form-text-color: $white;
// ./Form.scss
.formInput {
  background-color: #514a9d;
  transition: all 0.3s ease-in-out;
  &:hover {
    transform: scale(1.02);
  }
  border-radius: 10px;
  padding: 20px;
  color: $richBlack; // Update this line

  .form-control {
    background-color: darken($form-bg-color, 5%);
    color: $richBlack; // Update this line
    border: 1px solid darken($form-bg-color, 10%);
    transition: all 0.3s ease-in-out;
    &:focus {
      border-color: #02c39a;
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset,
        0 0 8px rgba(2, 195, 154, 0.6);
      outline: 0 none;
    }
  }
}

.methods {
  margin-top: 20px;
  justify-content: space-between;
}

.custom-button {
  background-color: #9d4a8b;
  color: $white;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 20px;
  transition: all 0.3s ease-in-out;

  &:hover {
    transform: scale(1.02);
  }
}
// .formInput {
//     background-color: $form-bg-color;
//     border-radius: 10px;
//     padding: 20px;
//     color: $form-text-color;

//     .form-control {
//         background-color: darken($form-bg-color, 5%);
//         color: $form-text-color;
//         border: 1px solid darken($form-bg-color, 10%);
//     }
// }

// .methods {
//     margin-top: 20px;
//     justify-content: space-between;
// }

// .custom-button {
//     background-color: $electricPurple;
//     color: $white;
//     border: none;
//     padding: 10px 20px;
//     border-radius: 10px;
//     cursor: pointer;
//     margin-top: 20px;
// }
