$richBlack: #1D2D44;
$buff: #F3D9B1;
$caribbeanGreen: #02C39A;
$independence: #514A9D;
$electricPurple: #9D4A8B;
$radicalRed: #FF3F71;

$white: #f0f0f0;

$roseVale: #C17C74;
$richBlack: #011627;
$lightSeaGreen: #2EC4B6;
$redPantone: #E71D36;
$orangePeel: #FF9F1C;
$charcoal: #333333;
$robinEggBlue: #41EAD4;

