@import './Style/ThemeColors.scss';
// ./AppStyles.scss
$main-bg-color: #1d2d44;
$main-text-color: #f3d9b1;
// ./AppStyles.scss

* {
  box-sizing: border-box;
  scrollbar-width: thin;
  scrollbar-color: #02c39a #1d2d44;
}

*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: #1d2d44;
}

*::-webkit-scrollbar-thumb {
  background-color: #02c39a;
  border-radius: 20px;
  border: 3px solid #1d2d44;
}

.main-app {
  background: linear-gradient(#1d2d44, #011627);
  font-family: 'Helvetica Neue', sans-serif;

  color: #f3d9b1;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main-container {
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2);

  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.user-input-container,
.data-display-container {
  background-color: darken($main-bg-color, 5%);
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2);

  border-radius: 10px;
  margin-top: 20px;
  width: 100%;
  max-width: 800px;
  padding: 20px;
}
// .main-app {
//     background-color: $main-bg-color;
//     color: $main-text-color;
//     min-height: 100vh;
//     display: flex;
//     flex-direction: column;
//     justify-content: space-between;
// }

// .main-container {
//     flex: 1;
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     padding: 20px;
// }

// .user-input-container,
// .data-display-container {
//     background-color: darken($main-bg-color, 5%);
//     border-radius: 10px;
//     margin-top: 20px;
//     width: 100%;
//     max-width: 800px;
//     padding: 20px;
// }
